<% provide(:title, "About") %>
<h1>About</h1>
<p align = "center">This app was created using rails.</p>

<br>
<h2>Random fact</h2>
<p>
  I love to study religion on my own time when I am not working or playing. I love
  reading the Quran and hope others can read it some day too, to get some insight
  of Islam better.
</p>