<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
 Um, 123 Fake Street? No, definitely not, but I can tell you where I have lived in my life.
 I was born in Georgia, but my country of origin is Afghanistan. I lived in Georgia
 for a while before moving up to New York. After a couple of months, my family moved down to Virginia.
 There we stayed for a couple years, before returning back to Georgia. And we have
 not moved out of state since.
</p>