<footer class="footer">
  <small>
    This site, <a href="hsaadutproject.heroku.app/">Haseeb's Final Project,</a>
    is created by Haseeb Saadut.
    <br>
    Copyright &copy; 2016
    <br>
    <a href = "mailto:yourfirstname@yourlastname.com">haseeb@saadut</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>